## Imports

In [1]:
import pandas as pd
import numpy as np
import os
from dotenv import find_dotenv, load_dotenv
from src.data.make_dataset import main
from src.utils import get_root_dir

%load_ext autoreload
%autoreload 2

In [2]:
# Load environment variables
load_dotenv(find_dotenv())
url_population = os.environ.get("URL_POP_BOROUGH")
url_population

'https://data.london.gov.uk/download/land-area-and-population-density-ward-and-borough/77e9257d-ad9d-47aa-aeed-59a00741f301/housing-density-borough.csv'

In [3]:
df_pop = pd.read_csv(url_population)
df_pop.head()

,Code,Name,Year,Source,Population,Inland_Area _Hectares,Total_Area_Hectares,Population_per_hectare,Square_Kilometres,Population_per_square_kilometre
0,E09000001,City of London,1999,ONS MYE,6581,290.4,314.9,22.7,2.9,2266.2
1,E09000001,City of London,2000,ONS MYE,7014,290.4,314.9,24.2,2.9,2415.3
2,E09000001,City of London,2001,ONS MYE,7359,290.4,314.9,25.3,2.9,2534.1
3,E09000001,City of London,2002,ONS MYE,7280,290.4,314.9,25.1,2.9,2506.9
4,E09000001,City of London,2003,ONS MYE,7115,290.4,314.9,24.5,2.9,2450.1

In [4]:
df_crime = main()
df_crime.head()

/home/jamie/code/JamieW365/londoncrime/data/raw /home/jamie/code/JamieW365/londoncrime/data/processed

                       Major  Minor               Borough       Date  Count
0  Arson and Criminal Damage  Arson  Barking and Dagenham 2010-04-01    6.0
1  Arson and Criminal Damage  Arson  Barking and Dagenham 2010-05-01    5.0
2  Arson and Criminal Damage  Arson  Barking and Dagenham 2010-06-01   11.0
3  Arson and Criminal Damage  Arson  Barking and Dagenham 2010-07-01   10.0
4  Arson and Criminal Damage  Arson  Barking and Dagenham 2010-08-01    6.0

We dont have population data for London Heathrow and London City Airports
We will do an inner merge on both data sets, retaining only boroughs in which we have both crime and population statistics

In [5]:
(set(df_pop['Name']) ^ set(df_crime['Borough'])) - set(df_pop['Name'])

{'London Heathrow and London City Airports'}

In [6]:
df_merged = df_crime.merge(df_pop[['Name', 'Population']], how='inner', left_on='Borough', right_on='Name').drop('Name', axis=1)
df_merged.head()

,Major,Minor,Borough,Date,Count,Population
0,Arson and Criminal Damage,Arson,Barking and Dagenham,2010-04-01,6.0,162444
1,Arson and Criminal Damage,Arson,Barking and Dagenham,2010-04-01,6.0,163893
2,Arson and Criminal Damage,Arson,Barking and Dagenham,2010-04-01,6.0,165654
3,Arson and Criminal Damage,Arson,Barking and Dagenham,2010-04-01,6.0,166357
4,Arson and Criminal Damage,Arson,Barking and Dagenham,2010-04-01,6.0,166210

In [7]:
df_merged.sample(20)

,Major,Minor,Borough,Date,Count,Population
3071879,Violence Against the Person,Violence with Injury,Croydon,2013-02-01,213.0,441922
675497,Miscellaneous Crimes Against Society,Wildlife Crime,Barnet,2013-02-01,0.0,386198
4461257,Burglary,Domestic Burglary,Hackney,2012-01-01,126.0,289488
1427201,Miscellaneous Crimes Against Society,Exploitation of Prostitution,Brent,2015-02-01,0.0,290901
10761039,Miscellaneous Crimes Against Society,Fraud or Forgery Associated with Driver Records,Redbridge,2021-11-01,0.0,244273
2940561,Public Order Offences,Public Fear Alarm or Distress,Croydon,2021-05-01,176.0,368886
7060519,Vehicle Offences,Theft from a Motor Vehicle,Hillingdon,2022-11-01,225.0,269465
166533,Miscellaneous Crimes Against Society,Other Notifiable Offences,Barking and Dagenham,2017-06-01,1.0,248726
13552408,Possession of Weapons,Possession of Article with Blade or Point,Wandsworth,2012-07-01,8.0,308300
12305861,Sexual Offences,Rape,Sutton,2023-11-01,15.0,185860
1553809,Possession of Weapons,Other Firearm Offences,Brent,2012-12-01,0.0,413613
5402729,Miscellaneous Crimes Against Society,Dangerous Driving,Haringey,2017-06-01,1.0,302018
3724502,Miscellaneous Crimes Against Society,Other Notifiable Offences,Enfield,2020-05-01,3.0,277266
8085338,Miscellaneous Crimes Against Society,Exploitation of Prostitution,Kensington and Chelsea,2011-07-01,0.0,155995
7757066,Miscellaneous Crimes Against Society,Threat or Possession With Intent to Commit Cri...,Islington,2018-06-01,5.0,235370
775176,Robbery,Robbery of Business Property,Barnet,2022-07-01,7.0,357653
5720910,Vehicle Offences,Interfering with a Motor Vehicle,Haringey,2021-09-01,28.0,297410
1232279,Theft,Bicycle Theft,Bexley,2017-01-01,5.0,281762
3942673,Vehicle Offences,Interfering with a Motor Vehicle,Enfield,2014-08-01,30.0,364916
8913117,Burglary,Domestic Burglary,Lambeth,2012-06-01,220.0,274262

In [8]:
df_merged['Count_Per_1000'] = df_merged['Count'] / (df_merged['Population'] / 1000)
df_merged.sample(20)

,Major,Minor,Borough,Date,Count,Population,Count_Per_1000
5537338,Miscellaneous Crimes Against Society,Soliciting for Prostitution,Haringey,2014-07-01,0.0,264284,0.000000
925499,Burglary,Domestic Burglary,Bexley,2017-06-01,60.0,219123,0.273819
10518816,Robbery,Robbery of Business Property,Newham,2016-04-01,5.0,477162,0.010479
12771840,Theft,Other Theft,Tower Hamlets,2018-12-01,353.0,295909,1.192934
1138007,Possession of Weapons,Possession of Firearm with Intent,Bexley,2016-04-01,0.0,289399,0.000000
1595678,Public Order Offences,"Other Offences Against the State, or Public Order",Brent,2011-10-01,8.0,270939,0.029527
2765735,Miscellaneous Crimes Against Society,Going Equipped for Stealing,Croydon,2014-07-01,1.0,357951,0.002794
12561515,Miscellaneous Crimes Against Society,Obscene Publications,Tower Hamlets,2023-07-01,12.0,380598,0.031529
12678949,Possession of Weapons,Possession of Firearms Offences,Tower Hamlets,2020-05-01,7.0,415811,0.016835
10960168,Robbery,Robbery of Personal Property,Redbridge,2012-12-01,93.0,323302,0.287657
4952161,Miscellaneous Crimes Against Society,Bigamy,Hammersmith and Fulham,2019-09-01,0.0,269591,0.000000
10272153,Miscellaneous Crimes Against Society,Bigamy,Newham,2017-05-01,0.0,363552,0.000000
12321501,Theft,Other Theft,Sutton,2021-07-01,85.0,241862,0.351440
1255704,Theft,Theft from Person,Bexley,2013-08-01,8.0,224625,0.035615
2967161,Robbery,Robbery of Business Property,Croydon,2022-12-01,12.0,461477,0.026003
11517655,Arson and Criminal Damage,Arson,Southwark,2018-01-01,7.0,322302,0.021719
13604388,Public Order Offences,Racially or Religiously Aggravated Public Fear...,Wandsworth,2013-10-01,11.0,403016,0.027294
5580899,Possession of Weapons,Possession of Firearm with Intent,Haringey,2015-12-01,2.0,345855,0.005783
2721633,Miscellaneous Crimes Against Society,Dangerous Driving,Croydon,2012-03-01,1.0,337134,0.002966
7027084,Theft,Theft from Person,Hillingdon,2010-04-01,34.0,276134,0.123129

In [10]:
df_merged.isna().sum()

Major             0
Minor             0
Borough           0
Date              0
Count             0
Population        0
Count_Per_1000    0
dtype: int64