# Initial Exploration of London Crime Data

The data for this exploration can be found on the opensource London Datastore:
* https://data.london.gov.uk/dataset/recorded_crime_summary
* https://data.london.gov.uk/dataset/land-area-and-population-density-ward-and-borough

## Imports

In [4]:
import pandas as pd

## Fixed Variables

In [5]:
url_offs = 'https://data.london.gov.uk/download/mps-monthly-crime-dahboard-data/89e1f262-bf49-4928-a0ac-5171dc27f6fd/Monthly%20Crime%20New%20Cats%20Borough%20Level%20Offs%20Type.csv'
url_SDs = 'https://data.london.gov.uk/download/mps-monthly-crime-dahboard-data/4b543422-6b8f-4f0b-ba77-8b8b6ef087b8/Monthly%20Crime%20New%20Cats%20Borough%20Level%20SDs%20Type.csv'
url_borough_pops = 'https://data.london.gov.uk/download/land-area-and-population-density-ward-and-borough/77e9257d-ad9d-47aa-aeed-59a00741f301/housing-density-borough.csv'

In [9]:
df_offs = pd.read_csv(url_offs)
df_SDs = pd.read_csv(url_SDs)
df_borough_pops = pd.read_csv(url_borough_pops)

In [12]:
df_offs.shape, df_SDs.shape, df_borough_pops.shape

((1848, 131), (1848, 131), (1872, 10))

In [13]:
df_offs.head()

,Borough,MajorText,MinorText,201201,201202,201203,201204,201205,201206,201207,...,202111,202112,202201,202202,202203,202204,202205,202206,202207,202208
0,Aviation Security(SO18),Miscellaneous Crimes Against Society,Absconding from Lawful Custody,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Barking and Dagenham,Miscellaneous Crimes Against Society,Absconding from Lawful Custody,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Barnet,Miscellaneous Crimes Against Society,Absconding from Lawful Custody,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
3,Bexley,Miscellaneous Crimes Against Society,Absconding from Lawful Custody,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Brent,Miscellaneous Crimes Against Society,Absconding from Lawful Custody,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
df_SDs.head()

,Borough,MajorText,MinorText,201201,201202,201203,201204,201205,201206,201207,...,202111,202112,202201,202202,202203,202204,202205,202206,202207,202208
0,Aviation Security(SO18),Miscellaneous Crimes Against Society,Absconding from Lawful Custody,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Barking and Dagenham,Miscellaneous Crimes Against Society,Absconding from Lawful Custody,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Barnet,Miscellaneous Crimes Against Society,Absconding from Lawful Custody,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Bexley,Miscellaneous Crimes Against Society,Absconding from Lawful Custody,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Brent,Miscellaneous Crimes Against Society,Absconding from Lawful Custody,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
df_borough_pops.head()

,Code,Name,Year,Source,Population,Inland_Area _Hectares,Total_Area_Hectares,Population_per_hectare,Square_Kilometres,Population_per_square_kilometre
0,E09000001,City of London,1999,ONS MYE,6581,290.4,314.9,22.7,2.9,2266.2
1,E09000001,City of London,2000,ONS MYE,7014,290.4,314.9,24.2,2.9,2415.3
2,E09000001,City of London,2001,ONS MYE,7359,290.4,314.9,25.3,2.9,2534.1
3,E09000001,City of London,2002,ONS MYE,7280,290.4,314.9,25.1,2.9,2506.9
4,E09000001,City of London,2003,ONS MYE,7115,290.4,314.9,24.5,2.9,2450.1

In [17]:
pd.read_csv('https://data.london.gov.uk/download/recorded_crime_summary/221142dd-f7b2-4209-921e-4de833a82285/MPS%20LSOA%20Level%20Crime%20%28most%20recent%2024%20months%29.csv')

,LSOA Code,LSOA Name,Borough,Major Category,Minor Category,202108,202109,202110,202111,202112,...,202210,202211,202212,202301,202302,202303,202304,202305,202306,202307
0,E01000006,Barking and Dagenham 016A,Barking and Dagenham,Arson and Criminal Damage,Criminal Damage,0,0,0,0,1,...,0,0,0,0,0,1,1,0,0,2
1,E01000006,Barking and Dagenham 016A,Barking and Dagenham,Burglary,Domestic Burglary,0,0,1,1,1,...,0,2,0,0,0,0,1,0,0,0
2,E01000006,Barking and Dagenham 016A,Barking and Dagenham,Drug Offences,Drug Trafficking,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
3,E01000006,Barking and Dagenham 016A,Barking and Dagenham,Drug Offences,Possession of Drugs,1,2,1,3,2,...,4,1,0,0,0,0,0,0,1,0
4,E01000006,Barking and Dagenham 016A,Barking and Dagenham,Miscellaneous Crimes Against Society,Dangerous Driving,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102622,E01033746,Greenwich 038E,Greenwich,Vehicle Offences,Interfering with a Motor Vehicle,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
102623,E01033746,Greenwich 038E,Greenwich,Vehicle Offences,Theft from a Motor Vehicle,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
102624,E01033746,Greenwich 038E,Greenwich,Vehicle Offences,Theft or Taking of a Motor Vehicle,0,0,0,0,0,...,0,3,0,1,0,2,0,0,1,1
102625,E01033746,Greenwich 038E,Greenwich,Violence Against the Person,Violence with Injury,0,0,1,1,0,...,0,0,1,0,0,0,0,0,2,1
102626,E01033746,Greenwich 038E,Greenwich,Violence Against the Person,Violence without Injury,2,0,1,2,0,...,1,2,2,1,1,0,1,0,1,1

In [20]:
df_borough_pops.head(30)

,Code,Name,Year,Source,Population,Inland_Area _Hectares,Total_Area_Hectares,Population_per_hectare,Square_Kilometres,Population_per_square_kilometre
0,E09000001,City of London,1999,ONS MYE,6581,290.4,314.9,22.7,2.9,2266.2
1,E09000001,City of London,2000,ONS MYE,7014,290.4,314.9,24.2,2.9,2415.3
2,E09000001,City of London,2001,ONS MYE,7359,290.4,314.9,25.3,2.9,2534.1
3,E09000001,City of London,2002,ONS MYE,7280,290.4,314.9,25.1,2.9,2506.9
4,E09000001,City of London,2003,ONS MYE,7115,290.4,314.9,24.5,2.9,2450.1
5,E09000001,City of London,2004,ONS MYE,7118,290.4,314.9,24.5,2.9,2451.2
6,E09000001,City of London,2005,ONS MYE,7131,290.4,314.9,24.6,2.9,2455.6
7,E09000001,City of London,2006,ONS MYE,7254,290.4,314.9,25.0,2.9,2498.0
8,E09000001,City of London,2007,ONS MYE,7607,290.4,314.9,26.2,2.9,2619.5
9,E09000001,City of London,2008,ONS MYE,7429,290.4,314.9,25.6,2.9,2558.3
10,E09000001,City of London,2009,ONS MYE,7472,290.4,314.9,25.7,2.9,2573.1
11,E09000001,City of London,2010,ONS MYE,7338,290.4,314.9,25.3,2.9,2526.9
12,E09000001,City of London,2011,GLA Population Projections,7412,290.4,314.9,25.5,2.9,2552.4
13,E09000001,City of London,2012,GLA Population Projections,7204,290.4,314.9,24.8,2.9,2480.8
14,E09000001,City of London,2013,GLA Population Projections,6848,290.4,314.9,23.6,2.9,2358.2
15,E09000001,City of London,2014,GLA Population Projections,6872,290.4,314.9,23.7,2.9,2366.4
16,E09000001,City of London,2015,GLA Population Projections,7160,290.4,314.9,24.7,2.9,2465.6
17,E09000001,City of London,2016,GLA Population Projections,7401,290.4,314.9,25.5,2.9,2548.6
18,E09000001,City of London,2017,GLA Population Projections,7405,290.4,314.9,25.5,2.9,2550.0
19,E09000001,City of London,2018,GLA Population Projections,7681,290.4,314.9,26.5,2.9,2645.0
20,E09000001,City of London,2019,GLA Population Projections,7953,290.4,314.9,27.4,2.9,2738.7
21,E09000001,City of London,2020,GLA Population Projections,8046,290.4,314.9,27.7,2.9,2770.7
22,E09000001,City of London,2021,GLA Population Projections,8164,290.4,314.9,28.1,2.9,2811.4
23,E09000001,City of London,2022,GLA Population Projections,8289,290.4,314.9,28.5,2.9,2854.4
24,E09000001,City of London,2023,GLA Population Projections,8408,290.4,314.9,29.0,2.9,2895.4
25,E09000001,City of London,2024,GLA Population Projections,8526,290.4,314.9,29.4,2.9,2936.0
26,E09000001,City of London,2025,GLA Population Projections,8661,290.4,314.9,29.8,2.9,2982.5
27,E09000001,City of London,2026,GLA Population Projections,8802,290.4,314.9,30.3,2.9,3031.1
28,E09000001,City of London,2027,GLA Population Projections,8940,290.4,314.9,30.8,2.9,3078.6
29,E09000001,City of London,2028,GLA Population Projections,9075,290.4,314.9,31.3,2.9,3125.1