# Initial Exploration of Data

The data for this exploration can be found on the opensource London Datastore:
* https://data.london.gov.uk/dataset/recorded_crime_summary
* https://data.london.gov.uk/dataset/land-area-and-population-density-ward-and-borough

## Notes on Recorded Crime Data

Data is available in two files for each level of geography - the most up to date data covering the last available 24 months only and one covering all historic full calendar years.

In March 2019, the Metropolitan Police Service started to provide offences grouped by the updated Home Office crime classifications . This currently only covers the most recent 24 months of data, but historic data using the previous categories is available separately back to January 2008.

Below is a list of the crime types covered under the new HO categories (*not available at LSOA level):

<u>Arson and Criminal Damage:</u>
* Arson
* Criminal Damage

<u>Burglary:</u>
* Burglary - Business and Community
* Burglary - Residential**

<u>Drug Offences:</u>
* Drug Trafficking
* Possession of Drugs

<u>Miscellaneous Crimes Against Society:</u> 
* Absconding from Lawful Custody 
* Bail Offences
* Bigamy 
* Concealing an Infant Death Close to Birth
* Dangerous Driving
* Disclosure, Obstruction, False or Misleading State
* Exploitation of Prostitution 
* Forgery or Use of Drug Prescription
* Fraud or Forgery Associated with Driver Records 
* Going Equipped for Stealing 
* Handling Stolen Goods 
* Making, Supplying or Possessing Articles for use i 
* Obscene Publications 
* Offender Management Act
* Other Forgery
* Other Notifiable Offences 
* Perjury 
* Perverting Course of Justice 
* Possession of False Documents 
* Profitting From or Concealing Proceeds of Crime 
* Soliciting for Prostitution
* Threat or Possession With Intent to Commit Crimina 
* Wildlife Crime

<u>Possession of Weapons:</u> 
* Other Firearm Offences 
* Possession of Firearm with Intent 
* Possession of Firearms Offences 
* Possession of Other Weapon 
* Possession of Article with Blade or Point

<u>Public Order Offences:</u> 
* Other Offences Against the State, or Public Order 
* Public Fear Alarm or Distress 
* Racially or Religiously Aggravated Public Fear 
* Violent Disorder

<u>Robbery:</u> 
* Robbery of Business Property 
* Robbery of Personal Property

<u>Sexual Offences:</u> 
* Other Sexual Offences 
* Rape

<u>Theft:</u> 
* Bicycle Theft 
* Other Theft 
* Shoplifting
* Theft from Person

<u>Vehicle Offences:</u> 
* Aggravated Vehicle Taking 
* Interfering with a Motor Vehicle 
* Theft from a Motor Vehicle 
* Theft or Taking of a Motor Vehicle

<u>Violence Against the Person:</u> 
* Homicide 
* Violence with Injury 
* Violence without Injury

 Fraud data was transferred from individual police forces to National Action Fraud in March 2013

**Prior to April 2017, police recorded burglary offence categories were split such that dwellings (domestic burglary) and buildings other than dwellings (non-domestic burglary) were separately identifiable, where:
* domestic burglary covers residential premises, including attached buildings such as garages
* non-domestic burglary covers non-residential premises, including businesses and public buildings, as well as non-attached buildings within the grounds of a dwelling, such as sheds and detached garages

**From April 2017 onwards a new classification of police recorded burglary was introduced, dividing offences into two categories of “residential” and “business and community”.
* “Residential” burglary includes all buildings or parts of buildings that are within the boundary of, or form a part of, a dwelling and includes the dwelling itself, vacant dwellings, sheds, garages, outhouses, summer houses and any other structure that meets the definition of a building. It also includes other premises used for residential purposes such as houseboats, residential care homes and hostels.
* “Business and community” burglary includes all buildings or parts of buildings that are used solely and exclusively for business purposes or are otherwise entirely outside the classification of residential burglary.

## Notes on Population Density Data

Land area and population density figures for 2001 to 2050 for wards and boroughs. Ward data begins in 2011.

Population figure included are GLA estimate (2016-based projections), 2011 Census and ONS Mid-year Estimates.

Inland area takes account of water line. Areas with large bodies of water will have a smaller inland area than total area since some of the area will be water.

Land area figures are taken from Ordnance Survey boundaries using MapInfo.

## Imports

In [70]:
import pandas as pd
import os

## Fixed Variables

In [4]:
url_borough_historical = 'https://data.london.gov.uk/download/recorded_crime_summary/934f2ddb-5804-4c6a-a17c-bdd79b33430e/MPS%20Borough%20Level%20Crime%20%28Historical%29.csv0'
url_borough_current = 'https://data.london.gov.uk/download/recorded_crime_summary/f2cf9458-24f0-47fa-bfc0-54b8d35be628/MPS%20Borough%20Level%20Crime%20%28most%20recent%2024%20months%29.csv'

In [5]:
df_historical = pd.read_csv(url_borough_historical)
df_current = pd.read_csv(url_borough_current)

In [6]:
df_historical.shape, df_current.shape

((1728, 143), (1581, 27))

In [7]:
df_historical.head()

,MajorText,MinorText,LookUp_BoroughName,201004,201005,201006,201007,201008,201009,201010,...,202102,202103,202104,202105,202106,202107,202108,202109,202110,202111
0,Arson and Criminal Damage,Arson,Barking and Dagenham,6,5,11,10,6,6,13,...,6,4,6,6,5,4,12,5,7,6
1,Arson and Criminal Damage,Criminal Damage,Barking and Dagenham,208,193,227,220,204,163,199,...,104,80,99,128,141,130,144,111,126,109
2,Burglary,Burglary Business and Community,Barking and Dagenham,49,58,59,47,46,51,52,...,18,14,12,30,24,21,29,27,37,20
3,Burglary,Domestic Burglary,Barking and Dagenham,118,102,124,137,153,136,116,...,90,71,75,81,66,61,87,62,83,87
4,Drug Offences,Drug Trafficking,Barking and Dagenham,9,6,5,12,9,7,11,...,11,12,9,9,7,6,11,19,18,12

In [8]:
df_current.head()

,MajorText,MinorText,LookUp_BoroughName,202112,202201,202202,202203,202204,202205,202206,...,202302,202303,202304,202305,202306,202307,202308,202309,202310,202311
0,Arson and Criminal Damage,Arson,Barking and Dagenham,1,4,4,3,5,5,5,...,3,2,2,5,2,5,8,5,4,3
1,Arson and Criminal Damage,Criminal Damage,Barking and Dagenham,116,126,110,116,126,120,142,...,101,118,103,109,126,136,117,130,97,92
2,Burglary,Burglary Business and Community,Barking and Dagenham,14,19,29,30,17,16,23,...,18,35,36,28,30,25,32,41,30,20
3,Burglary,Domestic Burglary,Barking and Dagenham,91,81,67,77,81,75,52,...,39,56,63,50,65,50,75,86,71,64
4,Drug Offences,Drug Trafficking,Barking and Dagenham,10,14,11,19,15,17,17,...,12,28,25,26,36,21,16,20,37,21

In [36]:
df_historical.tail()

,MajorText,MinorText,LookUp_BoroughName,201004,201005,201006,201007,201008,201009,201010,...,202102,202103,202104,202105,202106,202107,202108,202109,202110,202111
1723,Vehicle Offences,Theft from a Motor Vehicle,Westminster,231,215,204,213,167,197,197,...,129,150,156,265,218,218,244,267,309,280
1724,Vehicle Offences,Theft or Taking of a Motor Vehicle,Westminster,79,54,46,41,55,82,87,...,34,51,39,41,34,56,46,61,56,49
1725,Violence Against the Person,Homicide,Westminster,0,1,0,0,0,0,0,...,1,0,0,1,0,1,2,0,0,0
1726,Violence Against the Person,Violence with Injury,Westminster,271,283,289,328,288,270,319,...,129,174,220,260,317,416,376,325,391,361
1727,Violence Against the Person,Violence without Injury,Westminster,295,322,356,346,312,316,297,...,383,481,506,539,612,690,621,627,734,642

In [37]:
df_current.tail()

,MajorText,MinorText,LookUp_BoroughName,202112,202201,202202,202203,202204,202205,202206,...,202302,202303,202304,202305,202306,202307,202308,202309,202310,202311
1576,Vehicle Offences,Theft from a Motor Vehicle,Westminster,320,319,225,287,279,318,261,...,304,338,323,314,291,238,228,257,322,297
1577,Vehicle Offences,Theft or Taking of a Motor Vehicle,Westminster,36,48,44,47,48,52,46,...,76,57,62,62,51,51,61,55,55,39
1578,Violence Against the Person,Homicide,Westminster,0,1,0,0,0,0,2,...,0,1,0,0,1,0,0,0,0,0
1579,Violence Against the Person,Violence with Injury,Westminster,398,354,312,335,320,344,334,...,270,314,307,359,382,384,371,362,380,397
1580,Violence Against the Person,Violence without Injury,Westminster,618,576,559,636,541,653,608,...,604,570,555,616,615,707,642,606,764,716

In [9]:
df_historical['MajorText'].unique()

array(['Arson and Criminal Damage', 'Burglary', 'Drug Offences',
       'Historical Fraud and Forgery',
       'Miscellaneous Crimes Against Society', 'Possession of Weapons',
       'Public Order Offences', 'Robbery', 'Sexual Offences', 'Theft',
       'Vehicle Offences', 'Violence Against the Person'], dtype=object)

In [32]:
df_historical['MajorText'].nunique(), df_current['MajorText'].nunique()

(12, 12)

In [33]:
df_historical['MinorText'].nunique(), df_current['MinorText'].nunique()

(56, 56)

In [35]:
df_historical['LookUp_BoroughName'].nunique(), df_current['LookUp_BoroughName'].nunique()

(33, 33)

In [38]:
df_current

,MajorText,MinorText,LookUp_BoroughName,202112,202201,202202,202203,202204,202205,202206,...,202302,202303,202304,202305,202306,202307,202308,202309,202310,202311
0,Arson and Criminal Damage,Arson,Barking and Dagenham,1,4,4,3,5,5,5,...,3,2,2,5,2,5,8,5,4,3
1,Arson and Criminal Damage,Criminal Damage,Barking and Dagenham,116,126,110,116,126,120,142,...,101,118,103,109,126,136,117,130,97,92
2,Burglary,Burglary Business and Community,Barking and Dagenham,14,19,29,30,17,16,23,...,18,35,36,28,30,25,32,41,30,20
3,Burglary,Domestic Burglary,Barking and Dagenham,91,81,67,77,81,75,52,...,39,56,63,50,65,50,75,86,71,64
4,Drug Offences,Drug Trafficking,Barking and Dagenham,10,14,11,19,15,17,17,...,12,28,25,26,36,21,16,20,37,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1576,Vehicle Offences,Theft from a Motor Vehicle,Westminster,320,319,225,287,279,318,261,...,304,338,323,314,291,238,228,257,322,297
1577,Vehicle Offences,Theft or Taking of a Motor Vehicle,Westminster,36,48,44,47,48,52,46,...,76,57,62,62,51,51,61,55,55,39
1578,Violence Against the Person,Homicide,Westminster,0,1,0,0,0,0,2,...,0,1,0,0,1,0,0,0,0,0
1579,Violence Against the Person,Violence with Injury,Westminster,398,354,312,335,320,344,334,...,270,314,307,359,382,384,371,362,380,397
1580,Violence Against the Person,Violence without Injury,Westminster,618,576,559,636,541,653,608,...,604,570,555,616,615,707,642,606,764,716

In [39]:
test = [(1,2), (23,3), (44,500)]
test

[(1, 2), (23, 3), (44, 500)]

In [40]:
set(test)

{(1, 2), (23, 3), (44, 500)}

In [41]:
len(df_historical) - len(df_current)

147

In [48]:
unique_historical = []
for index, row in df_historical.iterrows():

    unique_historical.append((row['MajorText'], row['MinorText'], row['LookUp_BoroughName']))

In [52]:
unique_current = []
for index, row in df_current.iterrows():

    unique_current.append((row['MajorText'], row['MinorText'], row['LookUp_BoroughName']))

In [60]:
(set(unique_current) - set(unique_historical))

{('Miscellaneous Crimes Against Society',
  'Absconding from Lawful Custody',
  'Bexley'),
 ('Miscellaneous Crimes Against Society',
  'Aiding Suicide',
  'Kingston upon Thames'),
 ('Miscellaneous Crimes Against Society', 'Aiding Suicide', 'Redbridge'),
 ('Miscellaneous Crimes Against Society', 'Aiding Suicide', 'Sutton'),
 ('Miscellaneous Crimes Against Society', 'Aiding Suicide', 'Waltham Forest'),
 ('Miscellaneous Crimes Against Society', 'Bigamy', 'Kingston upon Thames'),
 ('Miscellaneous Crimes Against Society',
  'Concealing an Infant Death Close to Birth',
  'Havering'),
 ('Miscellaneous Crimes Against Society',
  'Offender Management Act',
  'Barking and Dagenham'),
 ('Miscellaneous Crimes Against Society', 'Offender Management Act', 'Brent'),
 ('Miscellaneous Crimes Against Society', 'Offender Management Act', 'Camden'),
 ('Miscellaneous Crimes Against Society',
  'Offender Management Act',
  'Hackney'),
 ('Miscellaneous Crimes Against Society',
  'Soliciting for Prostitution',
  'Havering'),
 ('Miscellaneous Crimes Against Society',
  'Soliciting for Prostitution',
  'Wandsworth'),
 ('Possession of Weapons', 'Other Knife Offences', 'Barking and Dagenham'),
 ('Possession of Weapons', 'Other Knife Offences', 'Croydon'),
 ('Possession of Weapons', 'Other Knife Offences', 'Haringey'),
 ('Possession of Weapons',
  'Possession of Firearm with Intent',
  'London Heathrow and London City Airports')}

In [61]:
(set(unique_historical) - set(unique_current))

{('Burglary', 'Domestic Burglary', 'London Heathrow and London City Airports'),
 ('Historical Fraud and Forgery',
  'Historical Fraud and Forgery',
  'Barking and Dagenham'),
 ('Historical Fraud and Forgery', 'Historical Fraud and Forgery', 'Barnet'),
 ('Historical Fraud and Forgery', 'Historical Fraud and Forgery', 'Bexley'),
 ('Historical Fraud and Forgery', 'Historical Fraud and Forgery', 'Brent'),
 ('Historical Fraud and Forgery', 'Historical Fraud and Forgery', 'Bromley'),
 ('Historical Fraud and Forgery', 'Historical Fraud and Forgery', 'Camden'),
 ('Historical Fraud and Forgery', 'Historical Fraud and Forgery', 'Croydon'),
 ('Historical Fraud and Forgery', 'Historical Fraud and Forgery', 'Ealing'),
 ('Historical Fraud and Forgery', 'Historical Fraud and Forgery', 'Enfield'),
 ('Historical Fraud and Forgery', 'Historical Fraud and Forgery', 'Greenwich'),
 ('Historical Fraud and Forgery', 'Historical Fraud and Forgery', 'Hackney'),
 ('Historical Fraud and Forgery',
  'Historical Fraud and Forgery',
  'Hammersmith and Fulham'),
 ('Historical Fraud and Forgery', 'Historical Fraud and Forgery', 'Haringey'),
 ('Historical Fraud and Forgery', 'Historical Fraud and Forgery', 'Harrow'),
 ('Historical Fraud and Forgery', 'Historical Fraud and Forgery', 'Havering'),
 ('Historical Fraud and Forgery',
  'Historical Fraud and Forgery',
  'Hillingdon'),
 ('Historical Fraud and Forgery', 'Historical Fraud and Forgery', 'Hounslow'),
 ('Historical Fraud and Forgery', 'Historical Fraud and Forgery', 'Islington'),
 ('Historical Fraud and Forgery',
  'Historical Fraud and Forgery',
  'Kensington and Chelsea'),
 ('Historical Fraud and Forgery',
  'Historical Fraud and Forgery',
  'Kingston upon Thames'),
 ('Historical Fraud and Forgery', 'Historical Fraud and Forgery', 'Lambeth'),
 ('Historical Fraud and Forgery', 'Historical Fraud and Forgery', 'Lewisham'),
 ('Historical Fraud and Forgery',
  'Historical Fraud and Forgery',
  'London Heathrow and London City Airports'),
 ('Historical Fraud and Forgery', 'Historical Fraud and Forgery', 'Newham'),
 ('Historical Fraud and Forgery', 'Historical Fraud and Forgery', 'Redbridge'),
 ('Historical Fraud and Forgery',
  'Historical Fraud and Forgery',
  'Richmond upon Thames'),
 ('Historical Fraud and Forgery', 'Historical Fraud and Forgery', 'Southwark'),
 ('Historical Fraud and Forgery', 'Historical Fraud and Forgery', 'Sutton'),
 ('Historical Fraud and Forgery',
  'Historical Fraud and Forgery',
  'Tower Hamlets'),
 ('Historical Fraud and Forgery',
  'Historical Fraud and Forgery',
  'Waltham Forest'),
 ('Historical Fraud and Forgery',
  'Historical Fraud and Forgery',
  'Wandsworth'),
 ('Historical Fraud and Forgery',
  'Historical Fraud and Forgery',
  'Westminster'),
 ('Miscellaneous Crimes Against Society',
  'Absconding from Lawful Custody',
  'Barking and Dagenham'),
 ('Miscellaneous Crimes Against Society',
  'Absconding from Lawful Custody',
  'Hounslow'),
 ('Miscellaneous Crimes Against Society',
  'Absconding from Lawful Custody',
  'Kensington and Chelsea'),
 ('Miscellaneous Crimes Against Society',
  'Absconding from Lawful Custody',
  'London Heathrow and London City Airports'),
 ('Miscellaneous Crimes Against Society',
  'Absconding from Lawful Custody',
  'Merton'),
 ('Miscellaneous Crimes Against Society',
  'Absconding from Lawful Custody',
  'Richmond upon Thames'),
 ('Miscellaneous Crimes Against Society',
  'Absconding from Lawful Custody',
  'Sutton'),
 ('Miscellaneous Crimes Against Society', 'Aiding Suicide', 'Newham'),
 ('Miscellaneous Crimes Against Society', 'Bail Offences', 'Croydon'),
 ('Miscellaneous Crimes Against Society', 'Bail Offences', 'Greenwich'),
 ('Miscellaneous Crimes Against Society', 'Bail Offences', 'Havering'),
 ('Miscellaneous Crimes Against Society', 'Bail Offences', 'Hounslow'),
 ('Miscellaneous Crimes Against Society',
  'Bail Offences',
  'Kensington and Chelsea'),
 ('Miscellaneous Crimes Against Society',
  'Bail Offences',
  'Kingston upon Thames'),
 ('Miscellaneous Crimes Against Society', 'Bail Offences', 'Lewisham'),
 ('Miscellaneous Crimes Against Society',
  'Bail Offences',
  'London Heathrow and London City Airports'),
 ('Miscellaneous Crimes Against Society', 'Bail Offences', 'Merton'),
 ('Miscellaneous Crimes Against Society', 'Bail Offences', 'Redbridge'),
 ('Miscellaneous Crimes Against Society',
  'Bail Offences',
  'Richmond upon Thames'),
 ('Miscellaneous Crimes Against Society', 'Bail Offences', 'Wandsworth'),
 ('Miscellaneous Crimes Against Society', 'Bigamy', 'Camden'),
 ('Miscellaneous Crimes Against Society', 'Bigamy', 'Croydon'),
 ('Miscellaneous Crimes Against Society', 'Bigamy', 'Greenwich'),
 ('Miscellaneous Crimes Against Society', 'Bigamy', 'Hackney'),
 ('Miscellaneous Crimes Against Society', 'Bigamy', 'Hillingdon'),
 ('Miscellaneous Crimes Against Society', 'Bigamy', 'Hounslow'),
 ('Miscellaneous Crimes Against Society', 'Bigamy', 'Islington'),
 ('Miscellaneous Crimes Against Society', 'Bigamy', 'Kensington and Chelsea'),
 ('Miscellaneous Crimes Against Society', 'Bigamy', 'Southwark'),
 ('Miscellaneous Crimes Against Society', 'Bigamy', 'Sutton'),
 ('Miscellaneous Crimes Against Society', 'Bigamy', 'Tower Hamlets'),
 ('Miscellaneous Crimes Against Society',
  'Concealing an Infant Death Close to Birth',
  'Enfield'),
 ('Miscellaneous Crimes Against Society',
  'Concealing an Infant Death Close to Birth',
  'Haringey'),
 ('Miscellaneous Crimes Against Society',
  'Concealing an Infant Death Close to Birth',
  'Kingston upon Thames'),
 ('Miscellaneous Crimes Against Society',
  'Concealing an Infant Death Close to Birth',
  'Sutton'),
 ('Miscellaneous Crimes Against Society',
  'Dangerous Driving',
  'London Heathrow and London City Airports'),
 ('Miscellaneous Crimes Against Society',
  'Disclosure, Obstruction, False or Misleading State',
  'Bexley'),
 ('Miscellaneous Crimes Against Society',
  'Disclosure, Obstruction, False or Misleading State',
  'Ealing'),
 ('Miscellaneous Crimes Against Society',
  'Disclosure, Obstruction, False or Misleading State',
  'Havering'),
 ('Miscellaneous Crimes Against Society',
  'Disclosure, Obstruction, False or Misleading State',
  'Kensington and Chelsea'),
 ('Miscellaneous Crimes Against Society',
  'Disclosure, Obstruction, False or Misleading State',
  'Kingston upon Thames'),
 ('Miscellaneous Crimes Against Society',
  'Disclosure, Obstruction, False or Misleading State',
  'Merton'),
 ('Miscellaneous Crimes Against Society',
  'Exploitation of Prostitution',
  'Brent'),
 ('Miscellaneous Crimes Against Society',
  'Exploitation of Prostitution',
  'Bromley'),
 ('Miscellaneous Crimes Against Society',
  'Exploitation of Prostitution',
  'Croydon'),
 ('Miscellaneous Crimes Against Society',
  'Exploitation of Prostitution',
  'Hammersmith and Fulham'),
 ('Miscellaneous Crimes Against Society',
  'Exploitation of Prostitution',
  'Kingston upon Thames'),
 ('Miscellaneous Crimes Against Society',
  'Exploitation of Prostitution',
  'London Heathrow and London City Airports'),
 ('Miscellaneous Crimes Against Society',
  'Exploitation of Prostitution',
  'Richmond upon Thames'),
 ('Miscellaneous Crimes Against Society',
  'Exploitation of Prostitution',
  'Sutton'),
 ('Miscellaneous Crimes Against Society',
  'Exploitation of Prostitution',
  'Waltham Forest'),
 ('Miscellaneous Crimes Against Society',
  'Forgery or Use of Drug Prescription',
  'Hammersmith and Fulham'),
 ('Miscellaneous Crimes Against Society',
  'Forgery or Use of Drug Prescription',
  'Kingston upon Thames'),
 ('Miscellaneous Crimes Against Society',
  'Forgery or Use of Drug Prescription',
  'London Heathrow and London City Airports'),
 ('Miscellaneous Crimes Against Society',
  'Fraud or Forgery Associated with Driver Records',
  'Bexley'),
 ('Miscellaneous Crimes Against Society',
  'Fraud or Forgery Associated with Driver Records',
  'Haringey'),
 ('Miscellaneous Crimes Against Society',
  'Fraud or Forgery Associated with Driver Records',
  'London Heathrow and London City Airports'),
 ('Miscellaneous Crimes Against Society',
  'Going Equipped for Stealing',
  'London Heathrow and London City Airports'),
 ('Miscellaneous Crimes Against Society', 'Offender Management Act', 'Barnet'),
 ('Miscellaneous Crimes Against Society',
  'Offender Management Act',
  'Haringey'),
 ('Miscellaneous Crimes Against Society',
  'Offender Management Act',
  'Kensington and Chelsea'),
 ('Miscellaneous Crimes Against Society',
  'Offender Management Act',
  'Southwark'),
 ('Miscellaneous Crimes Against Society',
  'Offender Management Act',
  'Waltham Forest'),
 ('Miscellaneous Crimes Against Society',
  'Offender Management Act',
  'Westminster'),
 ('Miscellaneous Crimes Against Society', 'Perjury', 'Brent'),
 ('Miscellaneous Crimes Against Society', 'Perjury', 'Bromley'),
 ('Miscellaneous Crimes Against Society', 'Perjury', 'Greenwich'),
 ('Miscellaneous Crimes Against Society', 'Perjury', 'Hackney'),
 ('Miscellaneous Crimes Against Society', 'Perjury', 'Haringey'),
 ('Miscellaneous Crimes Against Society', 'Perjury', 'Havering'),
 ('Miscellaneous Crimes Against Society', 'Perjury', 'Hillingdon'),
 ('Miscellaneous Crimes Against Society', 'Perjury', 'Kensington and Chelsea'),
 ('Miscellaneous Crimes Against Society', 'Perjury', 'Lewisham'),
 ('Miscellaneous Crimes Against Society',
  'Perjury',
  'London Heathrow and London City Airports'),
 ('Miscellaneous Crimes Against Society', 'Perjury', 'Merton'),
 ('Miscellaneous Crimes Against Society', 'Perjury', 'Richmond upon Thames'),
 ('Miscellaneous Crimes Against Society', 'Perjury', 'Waltham Forest'),
 ('Miscellaneous Crimes Against Society',
  'Possession of False Documents',
  'Sutton'),
 ('Miscellaneous Crimes Against Society',
  'Soliciting for Prostitution',
  'Barking and Dagenham'),
 ('Miscellaneous Crimes Against Society',
  'Soliciting for Prostitution',
  'Bromley'),
 ('Miscellaneous Crimes Against Society',
  'Soliciting for Prostitution',
  'Camden'),
 ('Miscellaneous Crimes Against Society',
  'Soliciting for Prostitution',
  'Croydon'),
 ('Miscellaneous Crimes Against Society',
  'Soliciting for Prostitution',
  'Ealing'),
 ('Miscellaneous Crimes Against Society',
  'Soliciting for Prostitution',
  'Greenwich'),
 ('Miscellaneous Crimes Against Society',
  'Soliciting for Prostitution',
  'Hackney'),
 ('Miscellaneous Crimes Against Society',
  'Soliciting for Prostitution',
  'Kensington and Chelsea'),
 ('Miscellaneous Crimes Against Society',
  'Soliciting for Prostitution',
  'Redbridge'),
 ('Miscellaneous Crimes Against Society',
  'Soliciting for Prostitution',
  'Richmond upon Thames'),
 ('Miscellaneous Crimes Against Society',
  'Soliciting for Prostitution',
  'Southwark'),
 ('Miscellaneous Crimes Against Society',
  'Soliciting for Prostitution',
  'Waltham Forest'),
 ('Miscellaneous Crimes Against Society',
  'Wildlife Crime',
  'Barking and Dagenham'),
 ('Miscellaneous Crimes Against Society', 'Wildlife Crime', 'Barnet'),
 ('Miscellaneous Crimes Against Society', 'Wildlife Crime', 'Bexley'),
 ('Miscellaneous Crimes Against Society', 'Wildlife Crime', 'Brent'),
 ('Miscellaneous Crimes Against Society', 'Wildlife Crime', 'Bromley'),
 ('Miscellaneous Crimes Against Society', 'Wildlife Crime', 'Camden'),
 ('Miscellaneous Crimes Against Society', 'Wildlife Crime', 'Croydon'),
 ('Miscellaneous Crimes Against Society', 'Wildlife Crime', 'Ealing'),
 ('Miscellaneous Crimes Against Society', 'Wildlife Crime', 'Enfield'),
 ('Miscellaneous Crimes Against Society', 'Wildlife Crime', 'Greenwich'),
 ('Miscellaneous Crimes Against Society', 'Wildlife Crime', 'Hackney'),
 ('Miscellaneous Crimes Against Society',
  'Wildlife Crime',
  'Hammersmith and Fulham'),
 ('Miscellaneous Crimes Against Society', 'Wildlife Crime', 'Haringey'),
 ('Miscellaneous Crimes Against Society', 'Wildlife Crime', 'Harrow'),
 ('Miscellaneous Crimes Against Society', 'Wildlife Crime', 'Havering'),
 ('Miscellaneous Crimes Against Society', 'Wildlife Crime', 'Hillingdon'),
 ('Miscellaneous Crimes Against Society', 'Wildlife Crime', 'Hounslow'),
 ('Miscellaneous Crimes Against Society', 'Wildlife Crime', 'Islington'),
 ('Miscellaneous Crimes Against Society',
  'Wildlife Crime',
  'Kensington and Chelsea'),
 ('Miscellaneous Crimes Against Society',
  'Wildlife Crime',
  'Kingston upon Thames'),
 ('Miscellaneous Crimes Against Society', 'Wildlife Crime', 'Lambeth'),
 ('Miscellaneous Crimes Against Society', 'Wildlife Crime', 'Lewisham'),
 ('Miscellaneous Crimes Against Society', 'Wildlife Crime', 'Merton'),
 ('Miscellaneous Crimes Against Society', 'Wildlife Crime', 'Newham'),
 ('Miscellaneous Crimes Against Society', 'Wildlife Crime', 'Southwark'),
 ('Miscellaneous Crimes Against Society', 'Wildlife Crime', 'Sutton'),
 ('Miscellaneous Crimes Against Society', 'Wildlife Crime', 'Waltham Forest'),
 ('Miscellaneous Crimes Against Society', 'Wildlife Crime', 'Wandsworth'),
 ('Miscellaneous Crimes Against Society', 'Wildlife Crime', 'Westminster'),
 ('Possession of Weapons',
  'Other Firearm Offences',
  'London Heathrow and London City Airports'),
 ('Possession of Weapons', 'Other Knife Offences', 'Barnet'),
 ('Possession of Weapons', 'Other Knife Offences', 'Bexley'),
 ('Possession of Weapons', 'Other Knife Offences', 'Islington'),
 ('Possession of Weapons', 'Other Knife Offences', 'Newham'),
 ('Possession of Weapons', 'Other Knife Offences', 'Waltham Forest'),
 ('Public Order Offences', 'Violent Disorder', 'Bexley'),
 ('Public Order Offences', 'Violent Disorder', 'Ealing'),
 ('Public Order Offences', 'Violent Disorder', 'Richmond upon Thames'),
 ('Public Order Offences', 'Violent Disorder', 'Wandsworth'),
 ('Robbery',
  'Robbery of Business Property',
  'London Heathrow and London City Airports'),
 ('Violence Against the Person',
  'Homicide',
  'London Heathrow and London City Airports')}

In [62]:
df_current['MajorText'].unique()

array(['Arson and Criminal Damage', 'Burglary', 'Drug Offences',
       'Miscellaneous Crimes Against Society', 'Possession of Weapons',
       'Public Order Offences', 'Robbery', 'Sexual Offences', 'Theft',
       'Vehicle Offences', 'Violence Against the Person',
       'Historical Fraud and Forgery'], dtype=object)

In [66]:
pd.concat([df_historical, df_current], axis=1).columns

Index(['MajorText', 'MinorText', 'LookUp_BoroughName', '201004', '201005',
       '201006', '201007', '201008', '201009', '201010',
       ...
       '202302', '202303', '202304', '202305', '202306', '202307', '202308',
       '202309', '202310', '202311'],
      dtype='object', length=170)

In [67]:
df_borough = pd.concat([df_historical, df_current], axis=1)
df_borough

,MajorText,MinorText,LookUp_BoroughName,201004,201005,201006,201007,201008,201009,201010,...,202302,202303,202304,202305,202306,202307,202308,202309,202310,202311
0,Arson and Criminal Damage,Arson,Barking and Dagenham,6,5,11,10,6,6,13,...,3.0,2.0,2.0,5.0,2.0,5.0,8.0,5.0,4.0,3.0
1,Arson and Criminal Damage,Criminal Damage,Barking and Dagenham,208,193,227,220,204,163,199,...,101.0,118.0,103.0,109.0,126.0,136.0,117.0,130.0,97.0,92.0
2,Burglary,Burglary Business and Community,Barking and Dagenham,49,58,59,47,46,51,52,...,18.0,35.0,36.0,28.0,30.0,25.0,32.0,41.0,30.0,20.0
3,Burglary,Domestic Burglary,Barking and Dagenham,118,102,124,137,153,136,116,...,39.0,56.0,63.0,50.0,65.0,50.0,75.0,86.0,71.0,64.0
4,Drug Offences,Drug Trafficking,Barking and Dagenham,9,6,5,12,9,7,11,...,12.0,28.0,25.0,26.0,36.0,21.0,16.0,20.0,37.0,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1723,Vehicle Offences,Theft from a Motor Vehicle,Westminster,231,215,204,213,167,197,197,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1724,Vehicle Offences,Theft or Taking of a Motor Vehicle,Westminster,79,54,46,41,55,82,87,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1725,Violence Against the Person,Homicide,Westminster,0,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1726,Violence Against the Person,Violence with Injury,Westminster,271,283,289,328,288,270,319,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1727,Violence Against the Person,Violence without Injury,Westminster,295,322,356,346,312,316,297,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
df_historical.dtypes

MajorText             object
MinorText             object
LookUp_BoroughName    object
201004                 int64
201005                 int64
                       ...
202107                 int64
202108                 int64
202109                 int64
202110                 int64
202111                 int64
Length: 143, dtype: object

'/home/jamie/code/JamieW365/londoncrime/notebooks/exploratory'